.build-row
  border-style: solid;
  border-width: 2px;
  margin-bottom: 15px;
  height: 45px;
  cursor pointer
  .icon
    font-size: 32px;
    line-height: 32px;
    padding-top: 8px;
    padding-left: 7px;
  .text-cell
    padding-top: 10px;

.build-row.pending
  color cross-super-grey
  border-color cross-super-grey
  background: #ebf0f7; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ebf0f7 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ebf0f7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ebf0f7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.build-row.running
  color cross-blue
  border-color cross-blue
  background: #e9eef6; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e9eef6 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e9eef6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e9eef6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.build-row.complete
  color cross-green
  border-color cross-green
  background: #eaf0e8; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #eaf0e8 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #eaf0e8 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #eaf0e8 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.build-row.rejected
  color cross-red
  border-color cross-red
  background: #fbe1e1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fbe1e1 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fbe1e1 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fbe1e1 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
