
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #5e9cd3;
  border: 2px solid #d8d8d8;
  cursor: pointer;
  box-sizing: border-box;
button:hover
button:focus
  outline: 0;

