.container {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }


.column,
.columns {
  margin-left: 0; }
.column:first-child,
.columns:first-child {
  margin-left: 0; }

.icon.column { width: 4%; }

.name.column { width: 14%; }
.owner.column { width: 14%; }
.time-started.column { width: 14%; }
.state.column { width: 14%; }

.metrix.column { width: 10%; }
.build.column { width: 10%; }
.unit-test.column { width: 10%; }
.functional-test.column { width: 10%; }

.changelist-header.column { width: 18%; }

.details-box-col.column               { width: 18%; }
.details-message-col.column               { width: 28%; }

.one-half.column               { width: 50%; }

.sixty-perc.column               { width: 60%; }
.forty-perc.column               { width: 40%; }

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

